<div class="row">
  <div class="medium-4 columns data-equalizer">
    Connect With your Neighbours and organize your daily life
  </div>
  <div class="medium-4 columns data-equalizer-watch">Only real neighbours are allowed</div>
  <div class="medium-4 columns data-equalizer-watch">Your posts are only accessible by your neighbours</div>
</div>
<div class="row">
  <div class="medium-8 medium-centered columns data-equalizer-watch">Add a Post</div>
</div>
<div class="row">
  <div class="medium-8 medium-centered columns data-equalizer-watch"></div>
  <%= search_form_for @q do |f| %>
  <form>
    <fieldset>
      <legend>Check Who else from your Neighbourhood is on Meet Your Street</legend>
      <label>
          <p>
            <%= f.label :street_cont %>
            <%= f.search_field :street_cont %>
          </p>
          <p>
            <%= f.submit %>
          </p>
      </label>
    </fieldset>
  </form>
  <% end %>
</div>


