<div class="row">
  <div class="medium-4 columns data-equalizer">
    Connect With your Neighbours and organize your daily life
  </div>
  <div class="medium-4 columns data-equalizer-watch">Only real neighbours are allowed</div>
  <div class="medium-4 columns data-equalizer-watch">Your posts are only accessible by your neighbours</div>
</div>
<div class="row">
  <div class="medium-8 medium-centered columns data-equalizer-watch">Add a Post</div>
</div>
<div class="row">
  <div class="medium-8 medium-centered columns data-equalizer-watch"></div>
  <form>
    <fieldset>
      <legend>Check Whats Going on in your Neighbourhood</legend>
      <label>
        <input type="text" placeholder="Type in your City">
      </label>
    </fieldset>
  </form>
</div>