<% flash.each do |name, message| %>

<div class="container">
  <div class="row">
    <div class="twelve columns">
      <div data-alert class="alert-box info radius">
        <div class="flash-message flash-message-<%= name %>">
          <%= message %>
        </div>
        <a href="#" class="close">&times;</a>
      </div>
    </div><!-- //.twelve.columns -->
  </div><!-- //.row -->
</div><!-- //.container -->

<% end %>

